
#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

ZMK_COMBO(undo, &kp LC(Z), LM2 LB4, ALL,  COMBO_TERM_FAST, COMBO_IDLE_FAST))
ZMK_COMBO(copy, &kp LC(C), LB3 LB2, ALL,  COMBO_TERM_FAST, COMBO_IDLE_FAST))
ZMK_COMBO(cut, &kp LC(X), LB3 LB1, ALL,  COMBO_TERM_FAST, COMBO_IDLE_FAST))
ZMK_COMBO(paste, &kp LC(V), LB2 LB1, ALL,  COMBO_TERM_FAST, COMBO_IDLE_FAST))
ZMK_COMBO(caps_word, &caps_word, LM1 RM1, ALL,  COMBO_TERM_FAST, COMBO_IDLE_FAST))

ZMK_COMBO(paste, &kp UNDERSCORE, RB1 RB2, ALL,  COMBO_TERM_FAST, COMBO_IDLE_FAST))
ZMK_COMBO(paste, &kp MINUS, RB2 RB3, ALL,  COMBO_TERM_FAST, COMBO_IDLE_FAST))

